{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-assign"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}